* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #23242a;
}

.svg-container {
    text-align: center;
    margin-top: 2px;
}

/* Styles for the "Welcome to" text */
.welcome-text {
    font-size: 40px;
    fill: #ffffff;
    font-family: Arial, sans-serif;
    opacity: 0;
}

/* Styles for the "NETFLIX" text */
.netflix-text {
    font-size: 70px;
    fill: #e50914;
    font-family: Arial, sans-serif;
    font-weight: bold;
    opacity: 0;
}

/* Styles for the "Collection!" text */
.collection-text {
    font-size: 70px;
    fill: #ffffff;
    font-family: Arial, sans-serif;
    opacity: 0; /* Start with opacity 0 */
}

.box {
    position: relative;
    width: 480px;
    height: 520px;
    background: #1c1c1c;
    border-radius: 8px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
    overflow: hidden;
}

.box::before {
    content: '';
    z-index: 1;
    position: absolute;
    top: -50%;
    left: -50%;
    width: 480px;
    height: 520px;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, #c10707, #c10707);
    animation: animate 6s linear infinite;
}

.box::after {
    content: '';
    z-index: 1;
    position: absolute;
    top: -50%;
    left: -50%;
    width: 480px;
    height: 520px;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, #c10707, #c10707);
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

form {
    position: absolute;
    inset: 2px;
    background: #28292d;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
h3 {
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    font-size: 2em;
    letter-spacing: 0.1em;
}

.inputBox {
    position: relative;
    width: 400px;
    margin-top: 35px;
}

.inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    font-size: 1.50em;
    color: #ffffff;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    color: #c10707;
    transform: translateX(0px) translateY(-34px);
    font-size: 1em;
}

.inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ffffff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i {
    height: 44px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links a {
    margin: 10px 0;
    font-size: 0.90em;
    color: #ffffff;
    text-decoration: beige;
}

.links a:hover, 
.links a:nth-child(2) {
    color: #ffffff;
}

input[type="submit"] {
    border: none;
    outline: none;
    padding: 11px 25px;
    background: #c10707;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 750;
    width: 400px;
    height: 50px;
    margin-top: 15px;
    font-size: medium;
}

input[type="submit"]:active {
    opacity: 0.8;
}