<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Collection Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <button class="dashboard" onclick="showContent('Dashboard')">Dashboard</button>
            <button class="user" onclick="showContent('User')">User Collection</button>
            <div class="instructions">
                <p>Instructions:</p>
                <ol>
                    <li>Hello, {{ user_firstname }} {{ user_lastname }} ! Please be patience as it may take few seconds to load the data.</li>

                    <li>Welcome to Collection</li>
                    <li>Here, as an admin I have limited the data to 500 showed from collection for faster loading of the collection</li>
                    <li>Here, you can add to your collection and view your current collection</li>
                    <li>Here, you can swtich between your collection and dashboard</li>
                    <li>Here, you can delete your specific movie or tv show from your collection</li>
                    <li>Here, you can change the progress of specific movie or tv show from your collection</li>
                    <li>Here, you can filter by  genre, rating, and year for overall collection plus your collection</li>
                    <li>Here, you can log out!</li>
                </ol>
            </div>
        </div>
        <div class="content">
            <div class="header">
                <h2>Welcome to <span class="netflix-red">Netflix</span> Collection!</h2>
                <div class="user-info">
                    <span>{{ user }}</span>
                    <a class="logout" href="{{ url_for('logout') }}">Log out</a>
                </div>
            </div>
            <div id="Dashboard-content" class="content-section active">
                <div class="collections">
                    <div class="collection">
                        <h3>Movie Collection</h3>
                        <div class="filter-options">
                            <select id="movie-filter" onchange="filterItems('movie', this.value)">
                                <option value="all">Filter by</option>
                                <option value="genre">By Genre</option>
                                <option value="title">By Title</option>
                                <option value="released">By Released Year</option>
                            </select>
                        </div>
                        <div class="items" id="movie-collection"></div>
                    </div>
                    <div class="collection">
                        <h3>TV Show Collection</h3>
                        <div class="filter-options">
                            <select id="tvshow-filter" onchange="filterItems('tvshow', this.value)">
                                <option value="all">Filter by</option>
                                <option value="genre">By Genre</option>
                                <option value="title">By Title</option>
                                <option value="released">By Released Year</option>
                            </select>
                        </div>
                        <div class="items" id="tvshow-collection"></div>
                    </div>
                </div>
            </div>
            <div id="User-content" class="content-section">
                <div class="collections">
                    <div class="collection">
                        <div class="title-progress-container">
                            <h4>Movie Collection</h4>
                            <div class="progress-bar-background">
                                <div id="movietotal-progress-bar" class="progress-bar"></div>
                            </div>
                        </div>
                        <div class="filter-options">
                            <select id="user-movie-filter" onchange="filterItems('userMovie', this.value)">
                                <option value="all">Filter by</option>
                                <option value="genre">By Genre</option>
                                <option value="title">By Title</option>
                                <option value="released">By Released Year</option>
                            </select>
                        </div>
                        <div class="items" id="User_movie-collection">
                        </div>
                    </div>
                    <div class="collection">
                        <div class="title-progress-container">
                            <h4>TV Show Collection</h4>
                            <div class="progress-bar-background">
                                <div id="tvshowtotal-progress-bar" class="progress-bar"></div>
                            </div>
                        </div>
                        <div class="filter-options">
                            <select id="user-tvshow-filter" onchange="filterItems('userTvshow', this.value)">
                                <option value="all">Filter by</option>
                                <option value="genre">By Genre</option>
                                <option value="title">By Title</option>
                                <option value="released">By Released Year</option>
                            </select>
                        </div>
                        <div class="items" id="User_tvshow-collection">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>