<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register_style.css') }}">
</head>
<body>
    <section class="regsection">
        <div class="signin">
            <div class="content">
                <h2 style="color: #c10707;">Register</h2>
                <form action="{{ url_for('register') }}" method="POST"> <!-- Correct action and method -->
                    <div class="form">
                        <div class="inputBox">
                            <input type="text" name="first_name" required>
                            <i>First Name</i>
                        </div>
                        <div class="inputBox">
                            <input type="text" name="last_name" required>
                            <i>Last Name</i>
                        </div>
                        <div class="inputBox">
                            <input type="email" name="email" required>
                            <i>Email</i>
                        </div>
                        <div class="inputBox">
                            <input type="password" name="password" required>
                            <i>Password</i>
                        </div>
                        <div class="links">
                            <p>
                                <div class="preglinks" style="color: #fff;" >Already have an account?</div>
                                <a class="shine alog" style="color: #000; display: inline-block; background: #c10707; padding: 3px; text-align: center; border-radius: 4px; text-decoration: none; font-weight: 600; font-size: 1em;" href="{{ url_for('login') }}">Login</a>
                            </p>
                        </div>
                        <div class="inputBox">
                            <input class="logeffect" type="submit" style="background: #c10707;" value="Register">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>